.form-control-administator:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 3px solid #275df5 !important;
}
.sideContainer {
    width: 18% !important;
    background-color: #2a2d32 !important;
    height: 60vh;
    padding: 15px;
}
.rightContainer {
    width: 80% !important;
    background-color: #2a2d32 !important;
    padding: 15px 15px 0px 15px;
}
.leftContent {
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: -17px;
}
.leftContentBar {
    padding: 5px 5px;
    color: black;
    background-color: white;

}
.leftContent:hover {
   background-color: #275df5;
   color: white;
}
.leftContentBar:hover {
    color: white !important;
    background-color: #275df5;
}

.rightContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.metaDataBlogsContainer {
    display: flex;
    color: black !important;
    font-size: small;
    justify-content: space-between;
    margin-bottom: -20px;
}
.metaDataBlogsContainer > p {
    color: black !important;
}
.metaDataBlogs {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.loadingGif {
   width: 100%;
  height: 401px;
}